.card{
    background-color: #232330;
    border-radius: 10px;
    border-width: 3px;
    padding: 5px;
    user-select: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.title{
    font-size: large;
}

.due, .created{
    color: #858585;
    font-size: smaller;
}