.card{
    background-color: #2e2e2e;
    border-radius: 20px;
    border-width: 3px;
    padding: 5px;
    user-select: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.title{
    font-size: large;
}

.created{
    color: #9c9c9c;
}